*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}



body {
    background: #f5f4f7;
}

.section-padding{
    padding: 70px 0;
}
